/* _civicrm.scss */

// wrap in body for increased specificity.
body {
  .crm-container {
    .messages {
      border-width: 0;
      border-left-width: 4px;
      padding: 1em;
      margin: 0 auto 25px;
    }
    .status {
      background-color: $jasmine-light;
      border-color: $jasmine;
    }
    a, a:link, a:visited {    
      color: $dark-cyan;
    }
  }
  
  .crm-container a.button,
  .crm-container a.button:link,
  .crm-container button.crm-button {
    // Most buttons look like a.button-cta-transparent
    @include button-cta-base;
    @include button-cta-transparent;
  }
  .crm-container a.button.cancel {
    // Cancel button looks flatter.
    border-color: $pine-blue-light;
    box-shadow: none;
  }
  
}