/* _footer.scss */

footer{
  padding: 40px 0;
  background: $dark-charcoal;
  margin-top: 70px;

  * {
    color: $old-lace;  
  }

  .footer-row{
    display: grid
  }

  .footer-left{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: .8em;
    text-align: center;
  }
  .footer-left img{
    width: 34px;
    height: 34px;
    object-fit: contain;
  }

  nav.footer-links {
    ul {
      display: flex;
      gap: 14px;
      flex-wrap: wrap;
      align-items: center;
      margin: 2em 0;
      justify-content: center;
      li {
        list-style-type: none;
        display: inline;
        &:nth-child(n+2) {
          border-left: 1px solid $old-lace;
          padding-left: 14px;
        }
        a {
          text-decoration: none;
          border-bottom: 1px solid rgba(31,44,44,0.18);
          padding-bottom: 2px;
        }
      }
    }
  }
  
  .copyright{
    font-size: 13px;
    text-align: center;
  }
}

@include respond(md) {
  footer{
    .footer-row{
      grid-template-columns: auto 24em;
      gap: 18px;
    }

    .footer-left{
      text-align: left;
    }

    nav.footer-links {
      ul {
        margin: 0;
        justify-content: end;
      }
    }

    .copyright{
      margin-top: 1em;
      text-align: right;
    }
  }  
  
}