/* _hero.scss */
/* Hero */
section.hero{
  overflow: hidden;
  position: relative;
  .hero-copy{
    padding: 46px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, .85));
    h1{
      letter-spacing: -0.02em;
      margin-bottom: 14px;
      color: white;
      text-shadow: 5px 5px 5px black;
    }
    p{
      margin-bottom: 22px;
      font-size: 18px;
      line-height: 1.6;
      color: white;
      text-shadow: 2px 2px 2px black;
    }

    div#hero-cta {
      display: flex;
      flex-wrap: wrap;
      .provider-link{
        margin-top: 14px;
        font-size: 14px;
        color: white;
        text-shadow: 2px 2px 2px black;
        display: inline;
        margin-left: 1em;
      }
      .provider-link a{
        color: $jasmine;
        text-decoration: none;
        font-weight: 700;
        border-bottom: 1px solid $jasmine;
        text-shadow: none;
        margin-left: .5em;
      }
    }
  }    

  .hero-image    {
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}