/* _root.scss */
:root {
--koharu-color-old-lace: #{$old-lace};
--koharu-color-dark-cyan: #{$dark-cyan};
--koharu-color-pine-blue: #{$pine-blue};
--koharu-color-muted-teal: #{$muted-teal};
--koharu-color-flag-red: #{$flag-red};
--koharu-color-jasmine: #{$jasmine};
--koharu-color-success-green: #{$success-green};
--koharu-color-dark-charcoal: #{$dark-charcoal};
--koharu-color-jet-black: #{$jet-black};


--koharu-color-old-lace-light: #{$old-lace-light};
--koharu-color-dark-cyan-light: #{$dark-cyan-light};
--koharu-color-pine-blue-light: #{$pine-blue-light};
--koharu-color-muted-teal-light: #{$muted-teal-light};
--koharu-color-flag-red-light: #{$flag-red-light};
--koharu-color-jasmine-light: #{$jasmine-light};
--koharu-color-success-green-light: #{$success-green-light};
--koharu-color-dark-charcoal-light: #{$dark-charcoal-light};
--koharu-color-jet-black-light: #{$jet-black-light};

}
