.section-menu-container {
  ul.section-menu {
    list-style-type: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    li {
      a {
        background-color: rgba($jasmine, .5);
        display: block;
        padding: 1em;
        text-decoration: none;
        border-radius: .5em;
        font-size: 1.1em;
        &:hover {
          color: $jasmine;
          background-color: $dark-charcoal;
        }
      }
    }
    li.current-menu-item {
      a {
        font-weight: 600;
        background-color: $jasmine;
        pointer-events: none;
      }
    }
  }
}