// Styles for wp content editor

@import "_variables";
@import "_mixins";
@import "_typography";
@import "_theme-elements";
@import "_article";
/*@import "_alignment";*/


*{
  box-sizing: border-box;
}


/* Responsive */
@media (max-width: 420px){
  .brand-name .bottom{
    font-size: 20px;
  }
  .icon-link span.icon-link-label{
    display:none;
  }
}

